  /* General Page Styling */
  html {
    background-image: url('../images/rainforestBackground.jpg');
    background-color: lightgreen;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Verdana';
    font-size: 10px;
    text-align: center;
  }

  /* Heading */
  .heading {
    font-size: 50px;
    font-weight: 900;
    color: white;
    padding: 20px;
    background-color: grey;
  }

  /* Clock Components */
  .clock {
    position: relative;
    top, bottom, left, right: 0;
    margin: auto;
    width: 715px;
    height: 715px;
    border-radius: 50%;
    background-image: url('../images/clockFace.png');
  }
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hand {
    position: absolute;
    top: 50%;
    width: 50%;
    transform-origin: 100%;
    height: 10px;
    transform: rotate(90deg);
    transition: all 0.5s;
   }
  .hour-hand {
    background: black;
    left: 30%;
    width: 20%;
    /* background-image: url('hour.png'); */
  }
  .minute-hand { 
    background: black;
    left: 10%;
    width: 40%;
    /* background-image: url('minute.png'); */
  }
  .second-hand { 
    background: red; 
    left: 5%;
    width: 45%;
    height: 6px;
  }
  .digitalClock {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    text-align: center;
    top: 60%;
    margin: auto;
    width: 200px;
    border: 5px solid black;
    border-radius: 10%;
    padding: 10px;
    background: lightgreen;
  }
  
  /* Description Box Area */
  .description-box {
    top, bottom, left, right: 0;
    margin: auto;
    display: flex;
    flex: 1;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    width: 70%;
    border: 15px solid black;
    border-radius: 25%;
    transform: translateY(100px);
  }
  
  /* Cuckoo Bird Images */
  img.cuckooBird-small {
    height: 20%;
    width: 20%;
  }
  

  img.cuckooBird-big {
    position: absolute;
    height: 500px;
    width: 500px;
    margin-bottom:-200px;
    margin-right: -100px;
    z-index: -1;
    visibility: hidden;
    transform: rotate(40deg);
  }